* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr, form {
    display: flex;
}

body {
    margin: 0;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    font-weight: normal;
    > main {
        min-height: calc(100vh - 400px);
    }
}


@media (min-width: 1200px) {
    body {
        > main {
            min-height: calc(100vh - 341px);
        }
    }
}