* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr, form {
    display: flex;
}

body {
    margin: 0;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    font-weight: normal;

    > main {
        min-height: calc(100vh - 400px);
    }

    .menu-overlay {
        z-index: 0;
        opacity: 0;
        transition: opacity .5s ease-in-out;
    }
    &.open {
        overflow: hidden;
        .menu-overlay {
            opacity: 1;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: var(--main-30);
            z-index: 5;
        }
    }
}

@media (min-width: 1200px) {
    body {
        .menu-overlay {
            display: none;
        }
        #home {
            header {
                .hero {
                    padding: 0 100px 200px;
                }
            }
        }
    }
}

@media (min-width: 1300px) {
    body {
        #home {
            header {
                .hero {
                    .hero-text {
                        h1 {
                            font-size: 50px;
                        }
                        p {
                            font-size: 26px;
                        }

                        button {
                            font-size: 20px;
                            padding: 11px 19px;
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
}