#error {
    .column {
    background-image: url("../images/photos/55047-removebg-preview.png");
    background-color: var(--main);
    position: absolute;
    background-position-x: 100%;
    background-position-y: 100%;
    margin-top: -80px;
    }
    .button {
        @include button;
            background-color: (--white);
    }
}
  