#footer {
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-footer);
    color: var(--text-footer);
    .footer-title {
        text-align: left;
        padding: var(--space);
        h3 {
            font-size: 15px;
            font-weight: 600;
            margin: 0;
        }
    }
    .footer-container {
        flex-direction: column;
        width: 100%;
        .container-col {
            max-width: 300px;
            &:last-child {
                align-self: center;
            }
            ul {
                flex-direction: column;
                padding: var(--space);
                margin: 0;
                li {
                    flex-direction: row;
                    font-weight: 300;
                    height: 50px;
                    &.li-title {
                        font-size: 20px;
                        font-weight: 600;
                    }
                    img {
                        width: 30px;
                        height: 30px;
                        margin-right: var(--space);
                    }
                    a {
                        font-size: 17px;
                        text-decoration: none;
                        color: var(--text-footer);
                        transition: all .2s ease-in-out;
                        &:hover {
                            color: var(--second);
                        }
                    }
                }
            }

            form {
                padding: var(--space);
                margin: 0;
                .form-title {
                    color: var(--main);
                    font-size: 20px;
                    font-weight: bold;
                    align-self: flex-start;
                }
                .field {
                    input {
                        border-color: var(--main);
                        color: var(--main);
                        &:-webkit-autofill,
                        &:-webkit-autofill:hover, 
                        &:-webkit-autofill:focus, 
                        &:-webkit-autofill:active  {
                            -webkit-box-shadow: 0 0 0 30px #5a95d52f inset !important;
                        }
                        &:-webkit-autofill {
                            -webkit-text-fill-color: var(--main) !important;
                        }
                    }

                    label {
                        color: var(--main);
                    }
                }

                button {
                    width: 100px;
                    height: 50px;
                }
            }
        }
        .logo {
            width: 100%;
            margin: var(--space) 0;
            min-width: 150px;
            padding-bottom: 90px;
            a {
                margin-left: calc(50% - 45px);
                img {
                    width: 90px;
                }
            }
        }
       
    }
    .footer-copyright {
        color: var(--text-footer-copyright);
        background-color: var(--main);
        flex-direction: column;
        font-weight: 600;
        h3 {
            font-size: 20px;
            margin: 1em auto;
        }
        > div {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 5px;
            padding: 0 10px;
            text-align: center;
            a {
                text-decoration: none;
                color: var(--text-footer-copyright);
                font-size: 15px;
            }
            p + a {
                margin: 0;
            }
            p {
                margin: 0 10px;
            }
        }
        .footer-copyright-images {
            margin: var(--space) 0;
            max-width: 500px;
            margin: 10px auto;
                a {
                    margin: 0 8px;
                }
                img {
                    width: 30px;
                    height: 30px;
                    margin: auto 0;
                }
        }
    }

}


@media (min-width: 576px) {
    #footer  {
        .footer-container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            max-width: 1600px;
            margin: auto;
        }
    }
}

@media (min-width: 1200px) {
    #footer  {
        .footer-title {
            justify-content: center;
        }
        .footer-copyright {
            flex-direction: row;
            .footer-copyright-images {
                a {
                    margin: 0 10px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #footer {
        .footer-container {
            flex-direction: row;
            justify-content: space-between;
            .logo {
                width: 15%;
            }
        }
        .footer-copyright {
            .footer-copyright-images {
                a {
                    margin: 0 var(--space);
                }
            }
        }
    }
}

@media (min-width: 1300px) {
    #footer {
       .footer-container {
           .container-col {
                form {
                    .field {
                        input {
                            min-width: 320px;
                        }
                    }
                }
           }
       } 
    }
}

