#home {
  flex-direction: column;
  .full-banner-home {
    position: relative;
    
    header {
      width: 100%;
      height: calc(100vh - 80px);
      padding-top: 40px;
      flex-direction: column;
      z-index: 3;    
      justify-content: flex-end;
      
      .hero {
        align-items: flex-start;
        flex-direction: column;
        z-index: 2;
        padding: 40px 0 20px;
        justify-content: flex-end;
        
        .hero-text {
          padding: 0 40px 0 20px;
          flex-direction: row;
          width: 100%;
          justify-content: space-between;

          > div {
            flex-direction: column;
          }
          
          h1 {
            color: var(--text);
            margin-bottom: 0;
            font-size: 28px;
            margin-right: 10px;
            
            strong {
              color: var(--main);
              text-shadow: none;
            }
          }
          
          p {
            color: var(--main);
            font-size: 20px;
            margin: 5px 0 10px;
          }
          
          button {
            padding: 10px 18px;
            background-color: white;
            border: none;
            box-shadow: 0px 3px 6px var(--main-80);
            border-radius: 6px;
            width: 120px;
            display: inline-block;
            height: 50px;
            margin: auto 0 0;
            cursor: pointer;
            
            a {
              color: var(--main);
              text-decoration: none;
              font-weight: bold;
              font-size: 19px;
            }
          }
        }
        
      }

      .image-boy {
        width: 100%;
        height: 70%;
        background-image: url('../images/photos/menino-sorrindo@2x.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: -40px 0px;
      }
    }
  }
  .highlights {
    width: 100%;
    flex-direction: column;
    div {
      width: 100%;
      height: 500px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--main);
      padding: 50px 35px;
      &.odd {
        background-color: transparent;
        border: 2px solid var(--third);
        h2, p {
          color: var(--text);
        }
      }

      img {
        width: 150px;
        height: 150px;
      }
      h2, p {
        color: var(--letters-body);
      }
      h2 {
        margin: 0;
        text-align: center;
        font-size: 25px;
        font-weight: 400;
        margin: 1.2rem 0;
      }
      p {
        margin: 0;
        font-size: 15px;
        font-weight: 300;
        text-align: center;
      }
    }
    #div-3 {
      img {
        display: none;
      }
      #img-green {
        display: block;
      }
    }
    #div-4 {
      #img-green {
        display: none;
      }
    }
  }
  .professional {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: initial;
    .professional-photo {
        background-image: url("../images/photos/doctor-ivanesia-peixoto.jpg");
        background-size: cover;
        width: 100%;
        height: 415px;
        opacity: 70%;
    }
    .only-desktop {
      flex-direction: column;
      div {
        flex-direction: column;
        .professional-icons {
          margin: var(--space) auto;
        }
      }
    }
    .legend {
      flex-direction: column;
      text-align: center;
      strong, p {
        font-weight: 400;
      }
      strong {
        font-size: 30px;
        color: var(--letters-title);
        margin-top: var(--space);
        margin-bottom: 10px;
      }
      p {
        font-size: 25px;
        color: var(--main);
        padding: 0 20px;
        margin: 0;
      }
    }
    div {
      margin: var(--space);
      &.professional-icons {
        width: 120px;
        height: 120px;
        border: solid 4px var(--main);
        padding: 10px;
        img {
          width: 100px;
          height: 100px;
          margin: auto;
        }
      }
      &.professional-icons-text {
        flex-direction: column;
        > h3, > p {
          color: var(--main);
        }
        > h3 {
          margin: 0;
          font-size: 20px;
          font-weight: 400;
          margin-bottom: var(--space);
        }
        > p {
          color: var(--text);
          margin: 0;
          font-size: 15px;
          font-weight: 300;
        }
      }
    }
  }
  .free-trial {
    width: 100%;
    height: 600px;
    background-image: url("../images/photos/free-trial-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .free-trial-opacity {
      width: 100%;
      height: 600px;
      position: absolute;
      background-color: var(--main);
      opacity: 50%;
      flex-direction: column;
      padding: var(--space);
      h2, p, small {
        color: var(--letters-body);
        font-weight: 600;
      }
      h2 {
        font-size: 65px;
        margin: 0;
        margin-bottom: 15px;

        strong {
          color: var(--third);
          font-size: 65px;
        }
      }
      p {
        font-size: 30px;
        margin: 0;
      }
      small {
        font-size: 40px;
      }
    }
    button {
      @include button;
      position: absolute;
      top: 75%;
      left: calc(50% - 102.5px);
      a{
        text-decoration: none;
        color: var(--main);
      }
    }
  }
  .doctors {
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--letters-body);
    .doctors-title {
      flex-direction: column;
      padding: var(--space);
      align-items: center;
      h3, strong, p {
        color: var(--main);
      }
      h3 {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        margin: var(--space) 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      strong {
        font-size: 25px;
        font-weight: 400;
      }
      p {
        font-size: 20px;
        font-weight: 300;
        margin: var(--space) 0;
      }
    }
    .doctors-title + div {
      flex-direction: column;
    }
    .doctor-information {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        max-width: 340px;
      }
      .doctors-social-media {
        width: 320px;
        min-width: 280px;
        height: 75px;
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--main);
        opacity: 30%;
        border-radius: var(--border-radius);
        a {
          margin: auto 0;
          > img {
            width: 30px;
            height: 30px;
            margin: auto 0;
          }
        }
      }
      h3, strong, p {
        text-align: center;
      }
      p {
        color: var(--main);
      }
      h3 {
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        margin: 10px 0 3px;
        color: var(--third);
      }
      strong {
        font-size: 30px;
        font-weight: 600;
        color: var(--letters-title);
      }
      p {
        margin: var(--space) 0;
        font-size: 16px;
        font-weight: 300;
        padding: 0 calc(var(--space) * 2);
      }
    }
  }
  .testimonials {
    flex-direction: column;
    margin-top: var(--space);
    .testimonials-title {
      flex-direction: column;
      padding: var(--space);
      h3, strong {
        color: var(--main);
      }
      h3 {
        margin: var(--space) 0;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
      }
      strong {
        font-size: 25px;
        font-weight: 400;
        margin: 0 auto;
      }
    }
    .testimonials-title + div {
      flex-direction: column;
    }
    .testimonials-photo + div {
      flex-direction: column;
      img {
        width: 50px;
        height: 50px;
        justify-content: flex-start;
        margin-left: 60px;
      }
      .testimonials-people {
        margin-left: 50px;
        margin-right: 35px;
      }
      .testimonials-people + img {
        margin-left: calc(100% - 120px);
      }
    }
    .testimonials-photo {
      width: 100%;
      > img {
        height: 340px;
        margin: var(--space) auto;
        border-radius: var(--border-radius);
      }
    }
    .testimonials-people {
      flex-direction: column;
      padding: var(--space);
      p, strong {
        color: var(--letters-title);
      }
      p {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
      }
      strong {
        font-size: 25px;
        font-weight: 300;
        margin-top: var(--space);
      }
      small {
        font-size: 40px;
        font-weight: 400;
        color: var(--third);
        margin-top: -20px;
      }
    }
  }

  .home-blog {
    flex-direction: column;
    margin-top: var(--space);
    padding: var(--space);
    background-color: #F8F8F8;
    
    .blog-text {
      flex-direction: column;
      align-items: center;

      h3 {
        color: var(--main);
        font-size: 40px;
        margin: 0;
      }

      #uppercase {
        text-transform: uppercase;
        font-size: 20px;
        color: var(--main);
        margin-top: 8px;
        margin-bottom: 0;
      }

      p {
        margin-top: 10px;
        font-weight: bold;
        font-size: 18px;
        color: var(--main);
        text-align: center;
      }
    }

    .wrap {
      flex-direction: row;

      .arrow {
        display: none;
      }

      .cards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;

        .card {
          width: 100%;
          max-width: 350px;
          margin: 20px auto;
          flex-direction: column;
          box-shadow: 0 1px 10px #ccc;
          border-radius: 18px;
          padding-bottom: 10px;

          > img {
            object-fit: cover;
            height: 300px;
            width: 100%;
            border-radius: 18px;
          }

          .card-text {
            flex-direction: column;
            margin: 20px;
            padding: 0 10px;

            h4 {
              margin: 5px 0;
              font-size: 18px;
              color: var(--third);
            }

            h5 { 
              margin: 5px 0;
              font-size: 25px;
              color: var(--main);
            }

            p {
              line-height: 25px;
            }
          }

          button {
            padding: 10px 20px 10px 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: transparent;
            border: none;

            a {
              text-decoration: none;
              margin: 0 5px;
              font-size: 16px;
              color: var(--third);
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 500px) {
  #home {
    .full-banner-home {
      header {
        .image-boy {
          background-position: -20px 0px;
        }
      }
    }
  }
}

@media (min-width: 550px) {
  #home  {
    .professional {
      .only-desktop {
        div {
          flex-direction: row;
          .professional-icons {
            margin: var(--space) 10px;
          }
          .professional-icons-text {
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media (min-width: 600px) {
  #home {
    .full-banner-home {
      header {
        .image-boy {
          background-position: -10vw 0vh;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  #home {
    .full-banner-home {
      header {
        .image-boy {
          background-position: 0vw 0vh;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #home {
    .full-banner-home {
      background-image: url('../images/photos/full-banner-home.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 20vw 0vw;
      height: 510px;

      header {
        flex-direction: row;
        justify-content: center;
        height: 510px;

        .hero {
          width: 100%;
          justify-content: center;
          padding-top: 0;
          padding-bottom: 40px;
          height: 510px;
          
          .hero-text {
            flex-direction: column;
            justify-content: initial;
            padding: 0 40px 0 8rem;

            h1 {
              margin: 0;
            }
          }
        }

        .image-boy {
          display: none;
        }
      }
    }

    .testimonials {
      .testimonials-photo + div {
        img {
          width: 80px;
          height: 80px;
          margin-left: var(--space);
        }
        .testimonials-people {
          margin-left: initial;
          margin-right: initial;
        }
      }
      .testimonials-info {
        padding: 0 50px;
      }
    }

    

    .highlights {
      display: grid;
      grid-template-columns: 1fr 1fr;
      #div-3 {
        opacity: 100%;
        background-color: var(--main);
        border: none;

        img {
          display: block;
        }

        #img-green {
          display: none;
        }
        
        h2, p { 
          color: var(--letters-body);
        }
      }
      #div-4 {
        background-color: transparent;
        border: 2px solid var(--third);

        img {
          display: none;
        }
        #img-green {
          display: block;
        }

        h2, p {
          color: var(--text);
        }
      }
    }

    .doctors {
      .doctors-title {
        p {
          width: 700px;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 920px) {
  #home {
    .free-trial {
      .free-trial-opacity {
        padding: var(--space) calc(var(--space) * 2);
        h2 {
          margin-top: calc(var(--space) * 2);
        }
      }
    }

    .home-blog {
      .wrap {
        .cards {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #home {
    .full-banner-home {
      height: 630px;

      header {
        height: 630px;

        .hero {
          height: 630px;

          .hero-text {
            h1 {
              font-size: 40px;
            }
            p {
              font-size: 24px;
            }
            button {
              width: 140px;
              height: 55px;
            a {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
    .highlights {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 100%;
      #div-3 {
        background-color: transparent;
        border: 2px solid var(--third);
        img {
          display: none;
        }
        #img-green {
          display: block;
        }
        h2, p {
          color: var(--text);
        }
      }
      #div-4 {
        background-color: var(--main);
        border: none;
        img {
          display: block;
        }

        #img-green {
          display: none;
        }
        
        h2, p { 
          color: var(--letters-body);
        }
      }
    }
    .professional {
      flex-direction: row;
      height: 980px;
      .professional-photo {
        height: 100%;
        background-position: -60vh 0vw;
      }

      .legend {
        text-align: left;
        strong {
          color: var(--third);
          padding-left: 20px;
        }
      }
    }
    .free-trial {
      height: 300px;
      flex-direction: row;
      .free-trial-opacity {
        height: 300px;
        strong {
          font-size: 100px;
        }
        p, small {
          font-size: 50px;
        }
        p + br {
          display: none;
        }
      }
      > button {
        position: relative;
        top: calc(70% - 30px);
        left: 80%;
      }
    }
    .doctors {
      .doctors-title {
        text-align: center;
        strong {
          font-size: 30px;
        }
        p {
          width: 800px;
        }
      }
      .doctors-title + div {
        flex-direction: row;
      }
    }
    .testimonials {
      .testimonials-title{
        text-align: center;
        h3 {
          font-size: 40px;
          font-weight: 400;
        }
        strong {
          font-size: 50px;
          font-weight: 600;
        }
      }
      .testimonials-title + div {
        flex-direction: row;
        .testimonials-people + img {
          margin-left: calc(90% - 120px);
        }
      }
      .testimonials-photo {
        width: 35%;
      }
      .testimonials-info {
        padding: 0;
      }
      .testimonials-people {
        margin-left: 120px;
        padding-right: 120px;
        p {
          font-size: 45px;
          max-width: 70vw;
        }
      }
    }

    .home-blog {
      .wrap {

        .cards {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  #home {
    .full-banner-home {
      height: 680px;

      header {
        height: 680px;

        .hero {
          height: 680px;

          .hero-text {
            padding: 0 40px 0 12rem;
            h1 {
              font-size: 42px;
            }
            p {
              font-size: 24px;
            }
          }
        }
      }
    }
    .home-blog {
      .wrap {
        .arrow {
          display: flex;
          align-items: center;

          img {
            width: 30px;
            height: 30px;
          }
        }

        .cards {
          .card {
            max-width: 380px;
          }
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  #home {
    .professional {
      flex-direction: row;
      .professional-photo {
        height: 100%;
        background-position: -40vh 0vw;
      }
    }
  }
}

@media (min-width: 1700px) {
  #home {
    .full-banner-home {
      background-position: 30vw 0vh;

      header {
        .hero {
          .hero-text {
            padding: 0 40px 0 18rem;
            h1 {
              font-size: 42px;
            }
            p {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 350px) {
  #home {
    .full-banner-home {
      header {
        .image-boy {
          background-position: 0 0;
        }
      }
    }
  }
}

@media (max-width: 380px) {
  #home {
    .free-trial {
      .free-trial-opacity {
        h2 {
          font-size: 58px;
          strong {
            font-size: 58px;
          }
        }

        p {
          font-size: 24px;

          small {
            font-size: 28px;
          }
        }
      }
    }
  }
}