@mixin button {
    min-width: 130px;
    width: 205px;
    border: solid 1px var(--main);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: var(--white);
    transition: background-color .2s ease-in-out;
    &:hover {
        background-color: var(--hover-button);
    }
}

@mixin button-border {
    @include button;
    background-color: transparent;
    border: 1px solid var(--bt-border-border);
    color: var(--white);
    &:hover {
        background-color: var(--bt-border-hover);
    }
    &:active {
        background-color: var(--bt-border-active);
    }
}

@mixin time {
    border: transparent;
    background-color: var(--bt-green);
    color: var(--white);
    &:hover {
        background-color: var(--bt-green-hover);
    }
    &:active {
        background-color: var(--bt-green-active);
    }
}
@mixin time-busy {
    background-color: var(--dark);
    color: var(--text);
    cursor: initial;
    &:hover {
        background-color: var(--dark);
    }
    &:active {
        background-color: var(--dark);
    }
}