.page-admin {
    margin-top: -80px;
    padding-top: 80px;
    flex-direction: column;
    > main {
        flex-direction: column;
        align-items: center;
        margin-top: -80px;
        padding-top: 150px;
        padding-bottom: 40px;
        background-color: var(--main);
        border-radius: 0 0 20px 20px;
        box-shadow: 0 0 10px #000000cc;
        z-index: 2;
        .main-content {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
    .second {
        position: relative;
        background-image: url('../images/photos/back-image-header.png');
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        margin-top: -20px;
        padding-top: 40px;
        padding-bottom: 60px;
        .second-content {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            z-index: 1;
        }
        > .overlay {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: var(--gray-90);
            z-index: 0;
        }
        
    }
    .section-header {
        flex-direction: column;
        color: var(--text);
        padding: 0 40px;
        margin-top: 40px;
        margin-bottom: 40px;
        max-width: 500px;
        > span {
            font-size: 20px;
            text-transform: uppercase;
        }
        > h1, > h2 {
            display: flex;
            font-size: 30px;
            font-weight: bold;
            margin: 0;
        }
        > .desktop {
            display: none;
        }
        &.white {
            color: var(--white)
        }
    }
    footer {
        align-items: center;
        justify-content: center;
        background-color: var(--gray);
        font-weight: bold;
        font-size: 14px;
        > p {
            margin: 2px;
        }
    }
    &.static {
        > main {
            > form {
                margin-top: 40px;
            }
        }
        .section-header {
            margin-bottom: 0;
            margin-top: 20px;
        }
    }
}

@media (min-width: 768px) {
    .page-admin {
        .section-header {
            max-width: 650px;
        }
    }
}


@media (min-width: 1200px) {
    .page-admin {
        flex-direction: row;
        height: 100vh;
        max-height: 100vh;
        overflow: hidden;
        > main {
            height: 100vh;
            overflow-y: auto;
            min-width: 50vw;
            border-radius: 0;
            .main-content {
                align-items: center;
            }
            &::-webkit-scrollbar-track{
                -webkit-box-shadow:inset 0 0 5px rgba(42,42,42,.5);
            }
            &::-webkit-scrollbar,
            &::-webkit-scrollbar-track{
                background-color:rgb(184, 184, 184);
                border-radius:5px;
            }
            &::-webkit-scrollbar{
                width:3px;
                height:5px;
            }
            &::-webkit-scrollbar-thumb{
                background-color:var(--third);
                border-bottom-left-radius:5px;
                border-bottom-right-radius:5px
            }

        }
        .second {
            width: 50%;
            height: 100vh;
            margin-top: -80px;
            padding-top: 0;
        }
        .section-header {
            width: 100%;
            > span {
                align-self: flex-start;
            }
            > .desktop {
                display: flex;
            }
            > h1, > h2 {
                display: flex;
                font-size: 40px;
            }
            > p {
                display: flex;
                font-size: 14px;
            }
            &.center {
               width: initial;
            }
        }
        footer {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50%;
        }
        &.static {
            > main {
                padding-bottom: 0;
            }
            .second {
                padding-bottom: 20px;
                .second-content {
                    overflow-y: auto;
                    justify-content: initial;
                    padding-top: 150px;
                }
            }
            .section-header {
                margin: 0;
            }
            
        }
    }
}

@media (min-width: 1500px) {
    .page-admin {
        .section-header {
            > span {
                font-size: 25px;
            }
        }
    }
}

@media (min-height: 750px) and (min-width: 1200px) {
    .page-admin {
        &.static {
            > main {
                padding-top: 200px;
            }
            .second {
                .second-content {
                    padding-top: 200px;
                }
            }
        }
    }
}
