#register {
    flex-direction: column;
    padding-bottom: 20px;
    background-image: url('../images/photos/back-image-header.png');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    > header {
        align-items:center;
        justify-content: center;
        height: 200px;
        svg {
            width: 100px;
            height: 100%;
            #Caminho_1, #Caminho_2, #Caminho_3, #Caminho_4, #Caminho_5, #Caminho_6, #Caminho_7, #Caminho_8 {
                fill: #fff;
            }
        }
    }
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: var(--main-90);
        z-index: 0;
    }
    > footer {
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        z-index: 1;
        p {
            color: var(--white);
            font-weight: bold;
            font-size: 14px;
        }
    }
}

@media (min-width: 1200px) {
    #register {
        flex-direction: row-reverse;
        align-items:center;
        justify-content: center;
        height: 100vh;
        padding: 0;
        overflow-y: auto;
        > header {
            align-items:center;
            justify-content: center;
            height: 100%;
            background-color: white;
            svg {
                width: 40%;
                max-width: 600px;
                height: 100%;
                margin: 0 auto;
                #Caminho_1, #Caminho_2, #Caminho_3, #Caminho_4, #Caminho_5, #Caminho_6, #Caminho_7, #Caminho_8 {
                    fill: url(#linear-gradient);
                }
            }
        }
        .overlay {

        }
        > footer {
            position: absolute;
            bottom: 0;
            p {
                
            }
        }
    }
}


// @media (min-width: 1200px) {
//     #register {
//         align-items:center;
//         justify-content: center;
//         width: 50%;
//         min-width: 700px;
//         height: 100vh;
//         padding: 0;
//         overflow-y: auto;
//         > header {
//             position: absolute;
//             align-items:center;
//             justify-content: center;
//             height: 100%;
//             width: 50%;
//             right: 0;
//             svg {
//                 width: 40%;
//                 max-width: 600px;
//                 height: 100%;
//                 margin: 0 auto;
//                 #Caminho_1, #Caminho_2, #Caminho_3, #Caminho_4, #Caminho_5, #Caminho_6, #Caminho_7, #Caminho_8 {
//                     fill: url(#linear-gradient-7);
//                 }
//             }
//         }
//         .overlay {
//             width: 50%;
//             min-width: 700px;
//         }
//     }
// }