#services {
    width: 100%;
    flex-direction: column;
    .full-banner-services {
        width: 100%;
        background-image: url('../images/photos/full-banner-services.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 800px;
        margin-top: -80px;
        position: relative;
        h1 {
            margin: 0;
            font-size: 35px;
            font-weight: 600;
            color: var(--main);
            padding-left: var(--space);
            position: absolute;
            top: 75%;
            span {
                font-size: 40px;
                font-weight: 600;
                color: var(--white);
            }
        }
    }
    .services-aesthetic {
        width: 100%;
        flex-direction: column;
        background-color: var(--bg-gray);
        .services-aesthetic-title {
            width: 100%;
            h2 {
                margin: var(--space) 0;
                font-size: 40px;
                font-weight: 600;
                color: var(--main);
                padding-left: var(--space);
            }
        }
        .services-aesthetic-content {
            width: 100%;
            flex-direction: column;
            img {
                width: 325px;
                margin: 0 var(--space);
            }
            p {
                margin: 0;
                padding: var(--space);
                text-align: left;
                font-size: 18px;
                font-weight: 300;
                color: var(--letters-title);
                letter-spacing: 0;
                opacity: 1;
            }
        }
    }
    .services-orthodontics {
        width: 100%;
        flex-direction: column;
        .services-orthodontics-title {
            width: 100%;
            h3 {
                margin: var(--space) 0;
                font-size: 40px;
                font-weight: 600;
                color: var(--main);
                padding-left: var(--space);
            }
        }
        .services-orthodontics-content {
            width: 100%;
            flex-direction: column;
            img {
                width: 325px;
                margin: 0 var(--space);
            }
            p {
                margin: 0;
                padding: var(--space);
                text-align: left;
                font-size: 18px;
                font-weight: 300;
                color: var(--letters-title);
                letter-spacing: 0;
                opacity: 1;
            }
        }
    }
    .services-clinical-dentistry {
        width: 100%;
        flex-direction: column;
        background-color: var(--bg-gray);
        .services-clinical-dentistry-title {
            width: 100%;
            h4 {
                margin: var(--space) 0;
                font-size: 40px;
                font-weight: 600;
                color: var(--main);
                padding-left: var(--space);
            }
        }
        .services-clinical-dentistry-content {
            width: 100%;
            flex-direction: column;
            img {
                width: 100%;
            }
            p {
                margin: 0;
                padding: var(--space);
                text-align: left;
                font-size: 18px;
                font-weight: 300;
                color: var(--letters-title);
                letter-spacing: 0;
                opacity: 1;
            }
        }
    }
    .services-implants {
        width: 100%;
        flex-direction: column;
        .services-implants-title {
            width: 100%;
            h5 {
                margin: var(--space) 0;
                font-size: 40px;
                font-weight: 600;
                color: var(--main);
                padding-left: var(--space); 
            }
        }
        .services-implants-content {
            width: 100%;
            flex-direction: column;
            img {
                width: 325px;
                margin: 0 var(--space);
            }
            p {
                margin: 0;
                padding: var(--space);
                text-align: left;
                font-size: 18px;
                font-weight: 300;
                color: var(--letters-title);
                letter-spacing: 0;
                opacity: 1;
            }
        }
    }
    .free-trial {
        width: 100%;
        height: 600px;
        background-image: url("../images/photos/free-trial-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        .free-trial-opacity {
          width: 100%;
          height: 600px;
          position: absolute;
          background-color: var(--main);
          opacity: 50%;
          flex-direction: column;
          padding: var(--space);
          h2, p, small {
            color: var(--letters-body);
            font-weight: 600;
          }
          h2 {
            font-size: 65px;
            margin: 0;
            margin-bottom: 15px;
    
            strong {
              color: var(--third);
              font-size: 65px;
            }
          }
          p {
            font-size: 30px;
            margin: 0;
          }
          small {
            font-size: 40px;
          }
        }
        button {
          @include button;
          position: absolute;
          top: 75%;
          left: calc(50% - 102.5px);
          a{
            text-decoration: none;
            color: var(--main);
          }
        }
      }
}

@media (min-width: 400px) {
    #services {
        .services-aesthetic {
            .services-aesthetic-content {
                img {
                    margin: 0 auto;
                }
            }
        }
        .services-clinical-dentistry {
            .services-clinical-dentistry-content {
                img {
                    margin: 0 auto;
                }
            }
        }
        .services-orthodontics {
            .services-orthodontics-content {
                img {
                    margin: 0 auto;
                }
            }
        }
        .services-implants {
            .services-implants-content {
                img {
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (min-width: 767px) {
    #services {
        .full-banner-services {
            h1 {
                font-size: 65px;
                top: 70%;
                span {
                    font-size: 65px;
                }
            }
        }
        .services-aesthetic {
            .services-aesthetic-content {
                flex-direction: row;
                img {
                    width: 50%;
                }
                p {
                    font-size: 22px;
                }
            }
        }
        .services-orthodontics {
            .services-orthodontics-title {
                h3 {
                    padding-left: 50%;
                }
            }
            .services-orthodontics-content {
                flex-direction: row-reverse;
                img {
                    width: 50%;
                    max-height: 480px;
                    margin: auto 0;
                }
            }
        }
        .services-clinical-dentistry {
            .services-clinical-dentistry-content {
                flex-direction: row;
                flex: 1;
                img {
                    max-width: 700px;
                }
            }
        }
        .services-implants {
            .services-implants-title {
                padding-left: 50%;
            }
            .services-implants-content {
                flex-direction: row-reverse;
                img {
                    width: 50%;
                }
            }
        }
        .free-trial {
            height: 430px;
            .free-trial-opacity {
                height: 430px;
            }
        }
    }
}

