#terms, #politic {
    width: 100%;
    flex-direction: column;
    max-width: 1200px;
    margin: var(--space) auto;
    margin-top: 100px;
    padding: 0 var(--space);
    ol {
        flex-direction: column;
        color: #222;
    }
    ul {
        flex-direction: column;
        color: #222;
    }
    h1 {
        color: var(--main);
        font-weight: 600;
    }
    h2, h3 {
        color: var(--text);
        font-weight: 400;
    }
    p {
        color: #222;
        font-weight: 300;
        margin: 0;
        a {
            text-decoration: none;
            font-weight: 600;
            color: var(--main);
        }
    }
}