:root {
  --main: #5A96D5;
  --main-80: #5A96D580;
  --second: #2D2B87;
  --dark-blue:  #415a77;
  --white: #FFF;
  --hover-button: #f9f9f9ea;
  
  --space: 20px;
  --border-radius: 4px;
  --text: #636363;

  // Footer
  --bg-footer: #fff;
  --text-footer: var(--main);
  --text-footer-copyright: #fff;

  // Texts
  --letters-title: #636363;
  --letters-body: #f8f8f8;
}
