:root {
  --main: #5A96D5;
  --main-80: #5A96D580;
  --main-90: #5a95d5e8;
  --second: #2D2B87;
  --third:#69E0A5;
  --dark-blue:  #415a77;
  --white: #FFF;
  --black: #000;
  --hover-button: #f9f9f9ea;
  --bg-gray: #f8f8f8;
  --green:#69E0A5;
  --gray:#F8F8F8;

  --space: 20px;
  --border-radius: 4px;
  --text: #636363;

  // Footer
  --bg-footer: #fff;
  --text-footer: var(--main);
  --text-footer-copyright: #fff;

  // Texts
  --letters-title: #636363;
  --letters-body: #f8f8f8;

  //form
  --text-main: #5A96D5;
  --text-main-80: #5A96D5;
  --form-title-color: #5A96D5;

  //Button-green
  --bt-green: #69E0A5;
  --bt-green-hover: #63d49b;
  --bt-green-active: #6fecae;
  //Button Border
  --bt-border-border: #f8f8f8;
  --bt-border-hover: #2D2B8744;
  --bt-border-active: #2D2B87;
}
